@import 'config';

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Proxima Nova Rg;

}
*{
    outline: none;
}
a {
    text-decoration: none;
}

.header {
    background: linear-gradient(180deg, rgba(22, 21, 29, 0.6) 0%, rgba(22, 21, 29, 0) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    right: 0;
    width: 100%;

    @media screen and (max-width: 480px) {
        display: none;

    }

    .header__inner {
        @include f-between;

        .logo-holder {
            font-family: Baloo;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 38px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }

        .nav-wrapper {
            width: 50%;
            @include f-between;

            &__link {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
            }
        }

        .user-kits {
            @include f-between;

            .user-kits__icon {
                margin-right: 24px;
            }
        }
    }
}


.carousel__item {
    background: linear-gradient(180deg, rgba(22, 21, 29, 0) 0%, rgba(22, 21, 29, 0.8) 48.31%, #16151D 100%),
        url('../../img/wallpaper.jpg') #16151dc9;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top;
    padding-top: 260px;


    &.second {
        background: linear-gradient(180deg, rgba(22, 21, 29, 0) 0%, rgba(22, 21, 29, 0.8) 48.31%, #16151D 100%),
            url('../../img/rider.jpg') #16151dc9;
        background-size: cover;
        background-position: center;
    }

    @media screen and (max-width: 480px) {
        height: max-content;
    }

    .movie-info .sub-info {
        display: flex;
        align-items: center;
        margin-bottom: 28px;
    }

    .movie-info__name {
        font-style: normal;
        font-weight: bold;
        align-items: center;
        font-size: 48px;
        line-height: 58px;
        display: flex;
        align-items: center;
        color: #FFFFFF;

        @media screen and (max-width: 480px) {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
        }
    }

    .movie-info__date {
        align-items: center;
        font-style: normal;
        display: flex;
        margin-right: 24px;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }

    .movie-info__rating {
        font-style: normal;
        align-items: center;
        font-weight: 600;
        font-size: 12px;
        display: flex;
        align-self: center;
        margin-right: 24px;
        line-height: 15px;
        color: #FFFFFF;

        img {
            margin-right: 8px;
        }
    }

    .movie-info__views {
        font-style: normal;
        align-items: center;
        font-weight: 600;
        font-size: 12px;
        display: flex;
        align-self: center;
        line-height: 15px;
        color: #FFFFFF;

        img {
            margin-right: 8px;
        }

    }
}

.movie-button {
    margin-bottom: 185px;

    @media screen and (max-width: 480px) {
        margin-bottom: 0;
    }

    .movie-button__link {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        padding: 15px 24px 15px 64px;
        color: #FFFFFF;
        background: #5931AC;
        border-radius: 4px;
        position: relative;

        @media screen and (max-width: 480px) {
            display: none;
        }

        &:before {
            content: '';
            width: 24px;
            height: 24px;
            top: 0;
            left: 24px;
            bottom: 0;
            margin: auto;
            background-image: url(../../icons/play.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
        }

        &--plus {
            background: rgba(60, 60, 67, 0.6);
            border-radius: 4px;
            margin-left: 32px;

            &:before {
                content: '';
                width: 24px;
                height: 24px;
                left: 24px;
                top: 0;
                bottom: 0;
                margin: auto;
                background-image: url(../../icons/plus.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;

            }
        }
    }
}

.tag {
    &__link {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        background: #FFFFFF;
        border-radius: 4px;
        padding: 4px 12px;
        color: #2C2C2E;

        @media screen and (max-width: 480px) {
            font-weight: 600;
            font-size: 10px;
            line-height: 10px;
        }

        &--new {
            color: #FFFFFF;
            background: #F4415F;
        }
    }
}

.preloader {
    display: flex;
}

.indicators {
    border-top: 1px solid #ffffff1a;
    border-bottom: 1px solid #ffffff1a;

    .left {
        @include f-between;

        .controls__icon {
            display: inline-block;
            opacity: 0.4;

            &--rotated {
                opacity: 1;

                img {
                    transform: rotate(180deg);

                }
            }
        }
    }

    @include f-between;

    .pagination {
        display: flex;
        align-items: center;

        span {
            display: block;
            width: 8px;
            height: 8px;
            background: #FFFFFF;
            opacity: 0.34;
            border-radius: 4px;
            margin-right: 16px;
        }
    }
}

.loader {
    display: inline-block;
    position: relative;
    display: flex;
    place-items: center;
    width: 50px;
    height: 50px;
}

.loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 8px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation-iteration-count: 3;
    border-color: #fff transparent transparent transparent;
}

.loader div:nth-child(1) {
    animation-delay: -0.45s;
}

.loader div:nth-child(2) {
    animation-delay: -0.3s;
}

.loader div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.related {
    @media screen and (max-width: 480px) {
        display: none;

    }

    .related__name {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        position: relative;
        transition: all ease 0.4s;
        width: 40%;

        @media screen and (max-width: 480px) {
            font-weight: 600;
            width: 80%;
            font-size: 14px;
            line-height: 25px;
        }

        &::before {
            content: '';
            width: 24px;
            transition: all ease 0.4s;
            height: 24px;
            background-image: url(../../icons/arrow-ios-right.svg);
            right: 0;
            opacity: 0.4;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
        }

        &:hover::before {
            right: -16px;
        }

    }

    .related__wrapper {
        display: flex;
        width: 59%;

        @media screen and(max-width:480px) {
            flex-wrap: wrap;
        }

        .related-item {
            margin-right: 24px;

        }

        .related-item__link {
            display: block;
            margin-top: 16px;
            margin-bottom: 8px;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
    }
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.hot {
    background: #16151D;
    padding-bottom: 40px;

    .hot-header {
        .hot-header__title {
            margin-top: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 26px;
            line-height: 34px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            position: relative;
            transition: all ease 0.4s;

            @media screen and(max-width: 480px) {
                font-size: 15px;
                line-height: 25px;
            }

            &::before {
                content: '';
                width: 24px;
                transition: all ease 0.4s;
                height: 24px;
                background-image: url(../../icons/arrow-ios-right.svg);
                right: -40px;
                opacity: 0.4;
                top: 0;
                bottom: 0;
                margin: auto;
                position: absolute;
            }

            &:hover::before {
                right: -80px;
            }
        }

        @include f-between;
    }

    @media screen and (max-width: 480px) {
        .controls {
            display: none;
        }
    }

    .controls__icon--rotated {
        opacity: 0.4;

        img {
            transform: rotate(180deg);
        }
    }

    .hot-items {
        @include f-between;
        align-items: flex-start;

        @media screen and (max-width: 480px) {
            flex-wrap: wrap;
        }

        .item {
            width: 176px;

            .item__img {
                width: 176px;
                height: 264px;
                border-radius: 4px;
                display: block;
                overflow: hidden;
                transition: all ease 0.5s;

                img {
                    width: 176px;
                    transition: all ease 0.5s;
                    height: 264px;
                    object-fit: cover;
                }


            }

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }

            .item__title {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
            }

            .item__tag {
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                display: flex;
                align-items: center;
                color: #9169E4;

                &--free {
                    color: #FFFFFF;
                    opacity: 0.34;
                }

                &--sail {
                    color: #D3465B;

                }
            }
        }
    }
}

.movie-card {
    background: #16151D;
    padding-bottom: 50px;

    @media screen and (max-width: 480px) {
        display: none;
    }

    .container {
        @include f-between;

        .movie-card__img {
            display: block;
            min-height: 450px;
            width: 60%;
        }

        .movie-card__right {
            width: 40%;
            background: #201E27;
            min-height: 450px;
            padding: 0 32px 0 24px;

            .top-btns {
                margin-bottom: 36px;

                .movie-card__link {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 15px;
                    display: flex;
                    align-items: center;
                    padding: 8px 12px;
                    background: #2F2D38;
                    border-radius: 4px;
                    display: inline-block;
                    margin-right: 16px;
                    color: #FFFFFF;

                    &--hd {
                        color: #2C2C2E;
                        background: white;
                    }
                }
            }

            .movie-rating {
                @include f-between;

                .fade {
                    opacity: 0.4;
                }

                .rating {
                    font-style: normal;
                    font-size: 18px;
                    line-height: 24px;
                    display: flex;
                    font-weight: 100;
                    align-items: center;
                    text-align: right;
                    color: #FFFFFF;

                    span {
                        font-weight: 900;
                        margin-right: 8px;
                    }
                }
            }

            .movie_title {
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;
                display: flex;
                color: #FFFFFF;
                align-items: center;
            }

            .movie_text {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 70px;
                color: #FFFFFF;
            }

            .bottom-btns {
                @include f-between;

                .bottom-btns__btn {
                    padding: 7px 24px 7px 40px;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    position: relative;
                    width: 155px;
                    height: 48px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    color: #FFFFFF;
                    background: #2F2D38;
                    border-radius: 4px;

                    &:before {
                        content: '';
                        position: absolute;
                        left: 12px;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 24px;
                        height: 24px;
                        background-image: url(../../icons/plus.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }

                    &--pink {
                        background: #5931AC;
                        border-radius: 4px;

                        &::before {
                            background-image: url(../../icons/play.svg);
                        }
                    }


                }

                .arrow.rotated {
                    img {
                        transform: rotate(180deg)
                    }
                }
            }
        }

    }
}

.footer {
    background: #13121A;
    padding: 24px 0;

    @media screen and (max-width: 480px) {
        display: none;
    }

    .top {
        margin-bottom: 24px;
        @include f-between;

        .logo {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;

            font-family: Baloo;
            line-height: 38px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }

        .nav-wrapper__link {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            padding: 0 20px;
            color: #FFFFFF;
        }

        .footer-social__link {

            margin: 0 12px;
        }
    }

    .bottom {
        @include f-between;

        .nav-wrapper {
            width: 44%;
        }

        .copyright {
            font-family: sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            color: rgba(235, 235, 245, 0.3);
            align-items: center;
        }

        .nav-wrapper__link {
            font-family: Proxima Nova;
            font-style: normal;
            font-weight: 600;
            margin-right: 40px;
            font-size: 14px;
            line-height: 20px;
            color: rgba(235, 235, 245, 0.3);
        }

        .footer-social__link {
            margin: 0 12px;
        }
    }
}

.owl-carousel {
    height: 100vh;
    width: 100%;
}

button.slick-arrow {
    // background: red;
    // border: none;
    // outline: none;
    // cursor: pointer;
    // position: absolute;
    // left: 78%;
    // top: 55.5%;
    display: none !important;
}

.slick-dot {
    display: none !important;

}

.fsz16 {
    font-size: 16px;
}

::-webkit-scrollbar {
    display: none;
}

.related {
    .owl-item {
        width: 224px !important;

    }

    .item {
        width: 224px;
    }
}

.mobile-only {
    background: #17131D;

    display: none;
    .best-title {
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 25px;
        margin: 0;
        padding: 18px 0;
        color: #FFFFFF;
    }
@media screen and (max-width:480px) {
    display: block;
}
    .best-heading {
        @include f-between;
    }

    .item {
        width: 216px;

        // margin: 0 8px;
        img {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
    }
}

.mobile-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 100%;
    background-color: #191520;
    z-index: 9999;
    display: none;
    justify-content: space-between;
    align-items: center;
    

    @media screen and(max-width: 480px) {
        display: flex;
    }

    .mobile-link {
        padding-top: 16px;
        color: rgba(255, 255, 255, 0.16);
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 12px;
        width: 70px;
        height: 70px;
        display: block;
        text-align: center;
        color: rgba(255, 255, 255, 0.16);

        &.active {
            color: #FFFFFF;

            .mobile-link__logo {
                fill: #7049c0;
            }
        }

        &__logo {
            fill: #3E3A44;
            display: block;
            width: 28px;
            height: 28px;
            margin: 0 auto 4px auto;
        }
    }

    @media screen and (max-width: 480px) {
        // display: block;
    }
}

.else {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.16;
    display: none;

    @media screen and(max-width: 480px) {
        display: block;
    }
}