.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Proxima Nova Rg;
}

* {
  outline: none;
}

a {
  text-decoration: none;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 21, 29, 0.6)), to(rgba(22, 21, 29, 0)));
  background: linear-gradient(180deg, rgba(22, 21, 29, 0.6) 0%, rgba(22, 21, 29, 0) 100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  right: 0;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .header {
    display: none;
  }
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__inner .logo-holder {
  font-family: Baloo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.header .header__inner .nav-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__inner .nav-wrapper__link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 2px 6px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  border-radius: 5px;
}

.header .header__inner .nav-wrapper__link:hover {
  background: rgba(0, 0, 0, 0.35);
}

.header .header__inner .user-kits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__inner .user-kits .user-kits__icon {
  margin-right: 24px;
}

.slick-arrow:hover {
  display: inline-block;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  background: rgba(58, 57, 57, 0.35);
  border-radius: 4px;
}

.carousel__item {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 21, 29, 0)), color-stop(48.31%, rgba(22, 21, 29, 0.8)), to(#16151D)), url("../../img/wallpaper.jpg") #16151dc9;
  background: linear-gradient(180deg, rgba(22, 21, 29, 0) 0%, rgba(22, 21, 29, 0.8) 48.31%, #16151D 100%), url("../../img/wallpaper.jpg") #16151dc9;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top;
  padding-top: 260px;
}

.carousel__item.second {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 21, 29, 0)), color-stop(48.31%, rgba(22, 21, 29, 0.8)), to(#16151D)), url("../../img/rider.jpg") #16151dc9;
  background: linear-gradient(180deg, rgba(22, 21, 29, 0) 0%, rgba(22, 21, 29, 0.8) 48.31%, #16151D 100%), url("../../img/rider.jpg") #16151dc9;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 480px) {
  .carousel__item {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

.carousel__item .movie-info .sub-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.carousel__item .movie-info__name {
  font-style: normal;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
  line-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

@media screen and (max-width: 480px) {
  .carousel__item .movie-info__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
  }
}

.carousel__item .movie-info__date {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 24px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.carousel__item .movie-info__rating {
  font-style: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 24px;
  line-height: 15px;
  color: #FFFFFF;
}

.carousel__item .movie-info__rating img {
  margin-right: 8px;
}

.carousel__item .movie-info__views {
  font-style: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  line-height: 15px;
  color: #FFFFFF;
}

.carousel__item .movie-info__views img {
  margin-right: 8px;
}

.movie-button {
  margin-bottom: 185px;
}

@media screen and (max-width: 480px) {
  .movie-button {
    margin-bottom: 0;
  }
}

.movie-button .movie-button__link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 24px 15px 64px;
  color: #FFFFFF;
  background: #5931AC;
  border-radius: 4px;
  position: relative;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

@media screen and (max-width: 480px) {
  .movie-button .movie-button__link {
    display: none;
  }
}

.movie-button .movie-button__link:before {
  content: '';
  width: 24px;
  height: 24px;
  top: 0;
  left: 24px;
  bottom: 0;
  margin: auto;
  background-image: url(../../icons/play.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.movie-button .movie-button__link--watch:hover {
  background: white;
  color: #5931AC;
}

.movie-button .movie-button__link--watch:hover:before {
  background-image: url(../../icons/play-pink.svg);
}

.movie-button .movie-button__link--plus {
  background: rgba(60, 60, 67, 0.6);
  border-radius: 4px;
  margin-left: 32px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.movie-button .movie-button__link--plus:hover {
  color: rgba(60, 60, 67, 0.9);
  background: #fff;
}

.movie-button .movie-button__link--plus:hover::before {
  background-image: url(../../icons/plus-black.svg);
}

.movie-button .movie-button__link--plus:before {
  content: '';
  width: 24px;
  height: 24px;
  left: 24px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-image: url(../../icons/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.tag__link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 4px 12px;
  color: #2C2C2E;
}

@media screen and (max-width: 480px) {
  .tag__link {
    font-weight: 600;
    font-size: 10px;
    line-height: 10px;
  }
}

.tag__link--new {
  color: #FFFFFF;
  background: #F4415F;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.indicators {
  border-top: 1px solid #ffffff1a;
  border-bottom: 1px solid #ffffff1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indicators .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indicators .left .controls__icon {
  display: inline-block;
  opacity: 0.4;
}

.indicators .left .controls__icon--rotated {
  opacity: 1;
}

.indicators .left .controls__icon--rotated img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.indicators .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indicators .pagination span {
  display: block;
  width: 8px;
  height: 8px;
  cursor: pointer;
  background: #FFFFFF;
  opacity: 0.34;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  border-radius: 4px;
  margin-right: 16px;
}

.indicators .pagination span:hover {
  opacity: 1;
}

.loader {
  display: inline-block;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  width: 50px;
  height: 50px;
}

.loader div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 8px;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  border-color: #fff transparent transparent transparent;
}

.loader div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.loader div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.loader div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .related {
    display: none;
  }
}

.related .related__name {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  position: relative;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  width: 40%;
}

@media screen and (max-width: 480px) {
  .related .related__name {
    font-weight: 600;
    width: 80%;
    font-size: 14px;
    line-height: 25px;
  }
}

.related .related__name::before {
  content: '';
  width: 24px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  height: 24px;
  background-image: url(../../icons/arrow-ios-right.svg);
  right: 0;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.related .related__name:hover::before {
  right: -16px;
}

.related .related__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 59%;
}

@media screen and (max-width: 480px) {
  .related .related__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.related .related__wrapper .related-item {
  margin-right: 24px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.related .related__wrapper .related-item__img {
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  width: 224px;
  height: 136px;
  overflow: hidden;
  display: block;
}

.related .related__wrapper .related-item__img:hover img {
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  overflow: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.related .related__wrapper .related-item__link {
  display: block;
  margin-top: 16px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.hot {
  background: #16151D;
  padding-bottom: 40px;
}

.hot .hot-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hot .hot-header .hot-header__title {
  margin-top: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  position: relative;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

@media screen and (max-width: 480px) {
  .hot .hot-header .hot-header__title {
    font-size: 15px;
    line-height: 25px;
  }
}

.hot .hot-header .hot-header__title::before {
  content: '';
  width: 24px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  height: 24px;
  background-image: url(../../icons/arrow-ios-right.svg);
  right: -40px;
  opacity: 0.4;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.hot .hot-header .hot-header__title:hover::before {
  right: -80px;
}

@media screen and (max-width: 480px) {
  .hot .controls {
    display: none;
  }
}

.hot .controls__icon--rotated {
  opacity: 0.4;
}

.hot .controls__icon--rotated img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hot .hot-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 480px) {
  .hot .hot-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.hot .hot-items .item {
  width: 176px;
}

.hot .hot-items .item .item__img {
  width: 176px;
  height: 264px;
  border-radius: 4px;
  display: block;
  overflow: hidden;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.hot .hot-items .item .item__img img {
  width: 176px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  height: 264px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hot .hot-items .item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hot .hot-items .item .item__title {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.hot .hot-items .item .item__tag {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9169E4;
}

.hot .hot-items .item .item__tag--free {
  color: #FFFFFF;
  opacity: 0.34;
}

.hot .hot-items .item .item__tag--sail {
  color: #D3465B;
}

.movie-card {
  background: #16151D;
  padding-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .movie-card {
    display: none;
  }
}

.movie-card .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-card .container .movie-card__img {
  display: block;
  min-height: 450px;
  width: 60%;
}

.movie-card .container .movie-card__right {
  width: 40%;
  background: #201E27;
  min-height: 450px;
  padding: 0 32px 0 24px;
}

.movie-card .container .movie-card__right .top-btns {
  margin-bottom: 36px;
}

.movie-card .container .movie-card__right .top-btns .movie-card__link {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  background: #2F2D38;
  border-radius: 4px;
  display: inline-block;
  margin-right: 16px;
  color: #FFFFFF;
}

.movie-card .container .movie-card__right .top-btns .movie-card__link:hover {
  color: #2C2C2E;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  background: white;
}

.movie-card .container .movie-card__right .top-btns .movie-card__link--hd {
  color: #2C2C2E;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
  background: white;
}

.movie-card .container .movie-card__right .top-btns .movie-card__link--hd:hover {
  background: #2c2c2e;
  color: #fff;
}

.movie-card .container .movie-card__right .movie-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-card .container .movie-card__right .movie-rating .fade {
  opacity: 0.4;
}

.movie-card .container .movie-card__right .movie-rating .rating {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 100;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  color: #FFFFFF;
}

.movie-card .container .movie-card__right .movie-rating .rating span {
  font-weight: 900;
  margin-right: 8px;
}

.movie-card .container .movie-card__right .movie_title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-card .container .movie-card__right .movie_text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 70px;
  color: #FFFFFF;
}

.movie-card .container .movie-card__right .bottom-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-card .container .movie-card__right .bottom-btns .bottom-btns__btn {
  padding: 7px 24px 7px 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  width: 155px;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background: #2F2D38;
  border-radius: 4px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.movie-card .container .movie-card__right .bottom-btns .bottom-btns__btn:hover {
  background: #fff;
  color: #2F2D38;
}

.movie-card .container .movie-card__right .bottom-btns .bottom-btns__btn:hover:before {
  background-image: url(../../icons/plus-black.svg);
}

.movie-card .container .movie-card__right .bottom-btns .bottom-btns__btn:before {
  content: '';
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  background-image: url(../../icons/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.movie-card .container .movie-card__right .bottom-btns .bottom-btns__btn--pink {
  background: #5931AC;
  border-radius: 4px;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.movie-card .container .movie-card__right .bottom-btns .bottom-btns__btn--pink:hover {
  background: #fff;
  color: #5931AC;
}

.movie-card .container .movie-card__right .bottom-btns .bottom-btns__btn--pink:hover::before {
  background-image: url(../../icons/play-pink.svg);
}

.movie-card .container .movie-card__right .bottom-btns .bottom-btns__btn--pink::before {
  background-image: url(../../icons/play.svg);
}

.movie-card .container .movie-card__right .bottom-btns .arrow.rotated img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer {
  background: #13121A;
  padding: 24px 0;
}

@media screen and (max-width: 480px) {
  .footer {
    display: none;
  }
}

.footer .top {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .top .logo {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  font-family: Baloo;
  line-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.footer .top .nav-wrapper__link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 0 20px;
  color: #FFFFFF;
}

.footer .top .footer-social__link {
  margin: 0 12px;
}

.footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .bottom .nav-wrapper {
  width: 44%;
}

.footer .bottom .copyright {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(235, 235, 245, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .bottom .nav-wrapper__link {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  margin-right: 40px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(235, 235, 245, 0.3);
}

.footer .bottom .footer-social__link {
  margin: 0 12px;
}

.owl-carousel {
  height: 100vh;
  width: 100%;
}

button.slick-arrow {
  display: none !important;
}

.slick-dot {
  display: none !important;
}

.fsz16 {
  font-size: 16px;
}

::-webkit-scrollbar {
  display: none;
}

.related .owl-item {
  width: 224px !important;
}

.related .item {
  width: 224px;
}

.mobile-only {
  background: #17131D;
  display: none;
}

.mobile-only .best-title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  margin: 0;
  padding: 18px 0;
  color: #FFFFFF;
}

@media screen and (max-width: 480px) {
  .mobile-only {
    display: block;
  }
}

.mobile-only .best-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-only .item {
  width: 216px;
}

.mobile-only .item img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background-color: #191520;
  z-index: 9999;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 480px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-menu .mobile-link {
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.16);
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
  width: 70px;
  height: 70px;
  display: block;
  text-align: center;
  color: rgba(255, 255, 255, 0.16);
}

.mobile-menu .mobile-link.active {
  color: #FFFFFF;
}

.mobile-menu .mobile-link.active .mobile-link__logo {
  fill: #7049c0;
}

.mobile-menu .mobile-link__logo {
  fill: #3E3A44;
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto 4px auto;
}

.else {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.16;
  display: none;
}

@media screen and (max-width: 480px) {
  .else {
    display: block;
  }
}
